.name-input-group {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.name-input-bar {
    width: 40%;
}

.name-input-button {
    padding: 11px !important;
}